/* *{
    outline: 1px solid red;
} */


.challenge-post {
    background-color: inherit;
}

form {
    background-color: #fff;
    padding: 0 30px;
}
.challenge-post {
    margin: 30px auto;
}
.challenge-post h2 {
    text-align: left;
    font-size: 25px;
    font-weight: 700;
}

.challenge-post form {
    margin-top: 15px;
    display: flex;
    gap: 30px;
    flex: 1;
}

.challenge-post .flex {
    display: flex;
    gap: 15px;
}

.challenge-post .flex .mb-3 {
    flex: 1;}

.challenge-post .flex .form-control-lg {
    width: 100%;
}

.challenge-post fieldset{
    display: flex;
    flex-direction: column;
    gap:15px
}

.challenge-post fieldset label {
    margin-bottom: 10px;
}

.challenge-post .imageField img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.challenge-post .text-area {
    height: 90%;
}

.challenge-post .postField textarea {
    min-height: 90%;
}

.challenge-form-btn {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.title {
    justify-content:space-between;
}

.like-people{
    font-size: 24px;
    display: flex;
    gap: 10px;
}

.challenge-people h3{
    margin: 30px 0 15px 0;
    font-size: 20px;
    font-weight: 700;
}

.challenge-people-list {
    display: flex;
    background-color: #fff;
}

.challenge-people-list .people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 95px;
    text-align: center;
    padding: 10px 0;
}

.challenge-people-list .people img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ddd;
}

.challenge-people .flex {
    justify-content: space-between;
}

.challenge-people #challenge-btn{
    margin: 30px 0 0 0;
    display: flex;
    align-items: end;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.card-body {
    display: flex;
}
.comment_box {
    margin-top: 3%;
    margin-left: 3%;
}