.main {
    width: 900px;
    height: 1250px;
}

header {
    line-height: 150px;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
}

h1 img {
    width: 150px;
    height: auto;
}

nav {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 2px solid #000;
}

nav ul li {
    line-height: 100px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li:last-child {
    border-bottom: inherit;
}

nav.on {
    display: block;
}

header .header_btn {
    width: 300px;
    font-size: 17px;
}

header .header_btn a {
    margin: 0 30px 0 0;
}

header .menu_btn {
    width: 300px;
    text-align: right;
    font-size: 24px;
}

.menu_btn.on i:nth-child(1),
.menu_btn i:nth-child(2) {
    display: none;
}

header .menu_btn.on i:nth-child(2) {
    display: block;
    padding-bottom: 4px;
}

/* 23.05.23. header 서경 */

section {
    height: 100vh;
}

/* 23.05.23. footer 서경 */
footer {
    background-color: #000;
    padding: 50px 0 100px 0
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 130px;
    height: auto;
}

footer .content {
    color: #ddd;
    margin: 30px 0 0 0;
}

/* 23.05.23. footer 서경 */

/* section calendar 지수*/

td {
    width: 30px;
    height: 30px;
}

.Calendar {
    text-align: center;
}

.calendar-section {
    background-color: white;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 35px 20px -30px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    background-color: gray;
    color: white;
}

/*
.pastDay {
    background-color: lightgray;
    cursor: pointer;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.pastDay.choiceDay,
.futureDay.choiceDay,
.today.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}
*/

.Day {
    cursor: pointer;
}

.Day.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

/* section calendar 끝 */

/* section 소비기록 지수 */

.card {
    background-color: rgb(229, 240, 240);
    margin: 20px 15vw;
    align-items: center;
    width: 70%;
    padding: 10px;
}

.consume-info {
    padding-top: 15px;
    font-weight: bold;
}

.style-input {
    margin-top: 5px;
    padding: 10px;
}

/* section 소비기록 끝 */