/* section calendar 지수*/
/** {
    outline: 1px solid red
}
*/

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 마포꽃섬 글씨체 (달력 글씨체로 쓰임) */
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
    min-height: 800px;
}

p,
h1 {
    font-family: 'OTWelcomeRA';
}

.mybank {
    margin-top: 300px;
    position: absolute;
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    height: 300px;
}

.consumebutton {
    font-size: 20px;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    font-family: 'MapoFlowerIsland';
    border-radius: 10px;
    height: 40px;
}

td {
    width: 30px;
    height: 30px;
}

.Calendar {
    text-align: center;
}

.calendar-section {
    background-color: white;
    margin-bottom: 10px;
    margin-left: 100px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 35px 20px -30px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    background-color: gray;
    color: white;
}

/*
.pastDay {
    background-color: lightgray;
    cursor: pointer;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.pastDay.choiceDay,
.futureDay.choiceDay,
.today.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}
*/


.Day {
    cursor: pointer;
}

.Day.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

/* section calendar 끝 */

/* section 소비기록 지수 */


.card {
    background-color: rgb(229, 240, 240);
    margin: 20px;
    align-items: center;
    width: 70%;
    padding: 10px;
}

.consume-info {
    padding-top: 15px;
    font-weight: bold;
}

.style-input {
    margin-top: 5px;
    padding: 10px;
}

/* section 소비기록 끝 */