section {
  .new-card-container {
    margin-bottom: 3rem;
    position: relative;
    h1 {
      margin-left: 2rem;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
    .slider {
      display: flex;
      gap: 0.5rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        min-width: 380px;
        height: 204px;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .prev-arrow {
      transform: rotateY(180deg);
    }
    .prev {
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-10px);
      cursor: pointer;
    }
    .next {
      font-size: 3rem;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-10px);
      cursor: pointer;
    }
  }
}
