@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24ClassicType-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 전체 글씨 적용 */
* {
  
  font-family: "LINESeedKR-Bd";;

}

/* main content */
img {
  object-fit: cover;
}

.main-container {
  width: 1200px;
  margin: 50px auto 0 auto;
}

.nav-drop-menu {
  position: absolute;
  display: none;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;

  /* display: none; */
}

span {
  font-size: 1.8rem;
}

h3 {
  margin: 5px 0px 20px;
}

.button-cover {
  position: relative;
  display: block;
  float: right;
}

.button-cover > a {
  padding: 0 13px;
  display: inline-block;
  line-height: 28px;
  height: 25px;
  text-align: center;
  border-radius: 1rem;
  color: #ffffff;
  margin-right: 3px;
  background-color: rgb(138, 138, 138);
}

.bar {
  margin: 17px auto;
  width: 100%;
  border: 0;
  height: 2px;
  background-color: rgba(138, 138, 138, 0.5);
}
.header_btn {
  padding-left: 50px;
}

.consume-cover {
  display: flex;
  flex-direction: row;
}

.menu_btn {
  padding-right: 150px;
}
.graph-container {
  display: flex;
  width: 58%;
  height: 300px;
}

.report-container {
  display: inline-block;
  width: 38%;
  height: 300px;
}

.report-container > ul > li {
  display: block;
  border: 2px solid rgba(138, 138, 138, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.new-challenge {
  margin-top: 40px;
}

.new-challenge-count {
  margin-left: 10px;
  font-size: 2.5rem;
}

.goal {
  text-align: right;
  font-size: 2rem;
  margin-top: 10px;
}

.card-image-container {
  float: left;
  width: 190px;
  height: 200px;
  overflow: hidden;
}

.card-content-container {
  float: left;
  width: 180px;
}

.card-content-container > h2 {
  margin: 15px;
  font-size: 2rem;
}

.card-content-container > h3 {
  margin: 15px;
  font-size: 1.6rem;
}

.card-tags {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
}

.card {
  overflow: hidden;
  position: relative;
  border: solid 3px gray;
} 

.challenge-check:hover {
  background-color: #f7f7f7;
}

.top-card-container {
  margin-top: 30px;
}

.top-card {
  padding: 10px;
  border: solid 3px rgb(71, 71, 71);
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  line-height: 43px;
}

.top-card-image-container {
  text-align: center;

  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.top-card-content-container {
  width: 80%;
  float: left;
  position: relative;
}



.top-card-content-container > h2 {
  margin: 15px;
  font-size: 3rem;
}

.top-card-content-container > h3 {
  margin: 15px;
  font-size: 1.7rem;
}

.top-card-tags {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.top-challenge {
  margin: 50px 0 100px 0;
}

.graph-container > h1 {
  font-size: 3rem;
}

.top-card-tags > a {
  z-index: 999;
  border: solid 1px rgba(138, 138, 138, 0.5);
  padding: 4px;
  background-color: rgba(138, 138, 138, 0.5);
  border-radius: 5px;
}

.card-tags > a {
  z-index: 999;
  border: solid 1px rgba(138, 138, 138, 0.5);
  padding: 4px;
  background-color: rgba(138, 138, 138, 0.5);
  border-radius: 5px;
}

#remainingAmount {
  color:#ec3434;
}

/* main content end */
