.pagination-div {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

ul {
  display: block;
  text-align: center;
}

.pagination > li {
  display: inline-block;
  font-size: 2.2rem;
  float: left;
  margin-right: 10px;
}

.pagination > li > a {
  float: none;
}
