@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.title {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.inner_box {
    text-align: right;
    width: 60%;

}

.container {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.custom_btn {
    font-size: 1.8rem;
    color: black;
}

.custom_box {
    font-size: 1.8rem;
}

#mainText {
    font-family: 'Chosunilbo_myungjo';
    font-size: 4.3rem;
    margin-right: 1%;
    color: rgb(173, 116, 116);
}

.subText {
    margin-top: 10%;
}

.button_box {
    margin-top: 3%;
}