@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 마포꽃섬 글씨체 (달력 글씨체로 쓰임) */
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.numbers {
    font-family: 'MapoFlowerIsland';
}

.main {
    width: 900px;
    height: 2000px;
}

p {
    font-family: 'OTWelcomeRA';
}

/* 프로필 카드 */
.profile-card {
    margin: 100px 20px 20px 40px;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
}

.update {
    font-size: 20px;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    font-family: 'MapoFlowerIsland';
    margin-bottom: 20px;
    border-radius: 10px;
    height: 30px;
}

/*프로필 기본 사진*/
.bigbox {
    padding-left: 120px;
    padding-bottom: 30px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    position: relative;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 내 챌린지 관리 카드 비율 */
.consumecontainer {
    position: absolute;
    top: 300px;
    left: 500px;
    text-align: left;
    font-size: 30px;


}
.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 340px;
    height: 400px;
}
.myProfile {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'MapoFlowerIsland';
}

.item {
    font-family: 'MapoFlowerIsland';
    padding-bottom: 10px;

}

.card-footer {
    padding-top: 20px;
    background-color: transparent;
    font-family: 'MapoFlowerIsland';
    font-size: 20px;
}

/* 관심있는 챌린지 카드 비율 */
.myinterestingchallenge {
    position: absolute;
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 170px;

}

.myconsumestatus {
    padding-top: 700px;
    position: absolute;
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    height: 300px;
}

.mybank {
    margin-top: 300px;
    position: absolute;
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    height: 300px;
}

.smallfont {
    font-size: 20px;
    padding-top: 10px;
}

.line {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #efff5eec;
    width: 100%;

}

.line2 {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #efff5eec;
    width: 1400px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.mybank {
    font-family: 'MapoFlowerIsland';
    padding-top: 500px;
    padding-left: 600px;
}

.incomebutton {
    font-size: 20px;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    font-family: 'MapoFlowerIsland';
    border-radius: 10px;
    height: 40px;
}

.consumebutton {
    font-size: 20px;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    font-family: 'MapoFlowerIsland';
    border-radius: 10px;
    height: 40px;
}

.banksavebutton {
    font-size: 20px;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    font-family: 'MapoFlowerIsland';
    border-radius: 10px;
    height: 40px;
}

.imagebox {
    padding: 20px 0px 20px 75px;
}

.imagebox2 {
    padding: 20px 0px 20px 160px;
}

.card-title {
    font-family: 'MapoFlowerIsland';
}

.card-text {
    font-family: 'MapoFlowerIsland';
}

/* 마이페이지 수입,지출,저축 기록하기 금액 글씨 */
.money {
    font-family: 'MapoFlowerIsland';
    padding-bottom: 10px;
    padding-left: 20px;
}

/* section calendar 지수*/

td {
    width: 30px;
    height: 30px;
}

.Calendar {
    margin-top: 50px;
    text-align: center;
}

.calendar-section {
    background-color: white;
    margin-bottom: 10px;
    width: 500px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 35px 20px -30px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'MapoFlowerIsland';
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgba(109, 86, 68, 0.822);
}

.Calendar>thead>tr:last-child>td {
    font-family: 'MapoFlowerIsland';
    background-color: rgba(231, 57, 34, 0.322);
    color: rgba(109, 86, 68, 0.822);
}

.Day {
    cursor: pointer;
}

.Day.choiceDay {
    background-color: #3E85EF;
    font-family: 'MapoFlowerIsland';
    color: #fff;
    cursor: pointer;
}

/* section calendar 끝 */