.container_box {
    display: flex;
    justify-content: center;
    height: 500px;
}

.title {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}


.inner_box {
    margin-top: 1%;
    width: 40%;
}

.form-control {

    width: 60%;
}

.mb-3 {
    margin-top: 6%;
    text-align: right;
}


.imgbox {
    margin-top: 20%;
}

.resized-img {
    width: 150px;
    height: 150px;
}