@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container_box {
    display: flex;
    justify-content: center;
    height: 600px;
    font-size: 1.8rem;
}

.title {
    margin-top: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Chosunilbo_myungjo';
    color: rgb(173, 116, 116);

}

.custom_label {
    font-size: 1.5rem;
}

.custom_input {
    font-size: 1.5rem;
}

.inner_box {
    margin-top: 1%;
    margin-left: 10%;
    width: 25%;
}

.custom_label {
    margin-top: 2.5%;
}

.custom_input {
    width: 100%;
    margin-top: 2.5%;
}

.imgbox {
    margin-top: 20%;
    text-align: center;
}

.resized-img {
    width: 150px;
    height: 150px;
}

.custom-button {
    margin-top: 2%;
    width: 100%;
}

.button_group {
    margin-top: 20%;
}

.input-group {
    margin-top: 10%;
}

.inner_box_items {
    width: 100%;
}

.right_box {
    font-size: 3rem;
    margin-left: 1.5%;
    width: 15%;
}

#image {
    font-size: 1.5rem;
}

.custom-button {
    font-size: 1.5rem;
}