*{
    outline: 1px solid red;
}

section {
    margin: 0 auto;
}
.container_box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.custom_button {
    width: 100%;
    margin-top: 3%;
    font-size: 1.8rem;
}


#containerBox_one {
    margin-top: 3%;
    display: none;
    font-size: 1.8rem;
}

#containerBox_two {
    margin-top: 10%;
    font-size: 2.5vw;
    height: 30rem;
    text-align: center;

}

#containerBox_two a {
    border-radius: 10px;
    line-height: 80px;
    background-color: black;
    color: aliceblue;
    margin-bottom: 10px;
}

#containerBox_two a:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

#containerBox_two div {
    margin: 0 auto;
    width: 40%;
}

.custom_input {
    font-size: 1.8rem;
}