.container {
    width: 40%;
    margin-top: 10%;
}

.custom_button {
    width: 100%;
    margin-top: 3%;
}


#containerBox_one {
    display: none;
}

#containerBox_two {

    font-size: 3.5vw;
    height: 30rem;
    position: relative;

}


span {
    display: inline-block;
    line-height: 250px;
    vertical-align: middle;
}

.container-itmes {
    margin-top: 3%;
    height: 50%;
    background-color: black;
    color: aliceblue;
    border-radius: 15%;

    text-align: center;
}

.container-itmes:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}